<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Home </title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link rel="icon" type="img/png" href="/images/gabblefavicon.png">
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <li><a href="/"><img src="https://s-media-cache-ak0.pinimg.com/originals/28/a9/b9/28a9b9e4ae73db5ed43154d01c5b413f.png" alt="lauging face"></a></li>
          <li><a href="/create">Create New Gab</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/login">Log Out</a></li>
        </ul>
      </div>
    </header>
      <h1>Create a new Gab</h1>
      <div class="create-form">
        <form class="create-page" action="/login" method="post">
          <div class="create-gab">
            <textarea name="create" rows="15" cols="80" placeholder="What's on your mind?"></textarea>
          </div>
            <div class="submitgab">
              <input type="submit" name="submitgab" value="Save Gab">
            </div>
        </form>
      </div>

    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
