<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Home </title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link rel="icon" type="img/png" href="/images/gabblefavicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <li><a href="/"><img src="https://s-media-cache-ak0.pinimg.com/originals/28/a9/b9/28a9b9e4ae73db5ed43154d01c5b413f.png" alt="lauging face"></a></li>
          <li><a href="/create">Create New Gab</a></li>
          <li>Welcome back, {{username}}! <a href="/login">{{^username}}Log In{{/username}}</a></li>
          <form class="logout" action="/logout" method="post">
          <input type="submit" name="logout" value="Log Out">
          </form>
        </ul>
      </div>
    </header>
    <main>
      <h1>Create a new Gab</h1>
      {{#errors}}
          <li>{{message}}</li>
      {{/errors}}
      <div class="create-form">
        <form class="create-page" action="/create" method="post">
          <div class="create-gab">
            <textarea name="message" rows="15" cols="80" placeholder="What's on your mind, {{username}}?"></textarea>
          </div>
            <div class="submitgab">
              <input type="submit" name="submitgab" value="Save Gab">
            </div>
        </form>
      </div>
    </main>

    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
