<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Home </title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link rel="icon" type="img/png" href="/images/gabblefavicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <li><a href="/"><img src="https://s-media-cache-ak0.pinimg.com/originals/28/a9/b9/28a9b9e4ae73db5ed43154d01c5b413f.png" alt="lauging face"></a></li>
          <li><a href="/create">Create New Gab</a></li>
          <li>Welcome back, {{username}}! <a href="/login">{{^username}}Log In{{/username}}</a></li>
          <li><a href="/signup">{{^username}}Sign Up{{/username}}</a></li>
          <form class="logout" action="/logout" method="post">
          <input type="submit" name="logout" value="Log Out">
          </form>
        </ul>
      </div>
    </header>
    <main>
      <div class="main-title">
        <h1>Here are all your Gabs, {{username}}!</h1>
      </div>
    <div class="gabbles">
      {{#gabbles}}
      <div class="individual-gabs">
        <a href="/">{{username}}</a>
        <p>
          {{message}}
        </p>
      <div class="date">
        {{createdAt}}
      </div>
      <div class="likes">
        <h4>Liked by:</h4>
        {{#like}}
        <p>{{username}}</p>
        {{/like}}
      </div>
      </div>
      {{/gabbles}}
      <div class="">
        <h4><a href="/">Back to Homepage</a></h4>
      </div>
    </div>
  </main>

  <script src="/js/client.js" charset="utf-8"></script>
</body>
</html>
