<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Signup </title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link rel="icon" type="img/png" href="/images/gabblefavicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <li><a href="/"><img src="https://s-media-cache-ak0.pinimg.com/originals/28/a9/b9/28a9b9e4ae73db5ed43154d01c5b413f.png" alt="lauging face"></a></li>
          <li><a href="/create">Create New Gab</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <form class="logout" action="/logout" method="post">
          <input type="submit" name="logout" value="Log Out">
          </form>
        </ul>
      </div>
    </header>
    <main>
      <h1>Sign Up for Gabble</h1>
      <div class="errors">
        {{#errors}}
        <li>{{message}}</li>
        {{/errors}}
      </div>
      <div class="signup-form">
        <form class="signup-page" action="/signup" method="post">
          <div class="username">
            <label for="username"> Your Username</label>
          </div>
          <div class="username">
            <input type="text" name="username" value="{{user.username}}" placeholder="Enter a new username">
          </div>
          <div class="email">
            <label for="email">Your Email</label>
          </div>
          <div class="email">
            <input type="text" name="email" value="{{user.email}}" placeholder="Enter your email">
          </div>
          <div class="password">
            <label for="password">Your Password</label>
          </div>
          <div class="password">
            <input type="password" name="password" value="" placeholder="Enter a new password">
          </div>
          <div class="password">
            <label for="">Confirm Your Password</label>
          </div>
          <div class="password">
            <input type="password" name="confirmpassword" value="" placeholder="Confirm your password">
          </div>
          <div class="signup">
            <input type="submit" name="" value="Sign Up for Gabble">
          </div>
        </form>
      </div>
    </main>

    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
