* {
  margin: auto 0;
  box-sizing: border-box;
  font-family: 'Sniglet', cursive;
}
body {
  background-color: #ecf0f1;
}
header {
  background-color: #3498db;
}
img {
  width: 5vw;
}
h1 {
  margin: 2% 5% 0% 2%;
  text-align: center;
}
.nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-bar ul a {
  color: #ecf0f1;
}
.nav-bar li {
  color: #ecf0f1;
}
.gabbles {
  display: flex;
  flex-direction: column;
  color: #3498db;
  margin: 0% 3% 0% 3%;
  padding: 5% 15%;
}
.likes {
   margin-top: 2%;
}
.date {
  margin-top: 2%;
}
.individual-gabs {
  margin-bottom: 5%;
  background-color: #fff;
  padding: 2% 5% 2% 5%;
}
.individual-gabs p {
  color: #000000;
  margin-top: 2%;
}
.individual-gabs p a {
  text-decoration: none;
  color: #34495e;
}
.individual-gabs a {
  text-decoration: none;
  color: #3498db
}
form input[type='submit'] {
  background-color: #3498db;
  font-size: .9rem;
  color: #ecf0f1;
  border-radius: 10px;
  border: 1px solid #ecf0f1;
  padding: 1%;
}
button {
  background-color: #3498db;
  font-size: .9rem;
  color: #ecf0f1;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 1%;
  margin-bottom: 1%;
}
form.logout input[type='submit'] {
  border: 2px solid #fff;
  padding: 8%;
}
form.like input[type='submit'] {
  border: 1px solid #fff;
}
.login-form form {
  margin: 2% 5%;
}
.login-form input {
  padding: 1%;
  width: 30%;
  margin-bottom: 1%;
}
.username {
  margin: 1%;
}
.password {
  margin: 1%;
}
.email {
  margin: 1%;
}
.signup-for-gabble {
  margin-left: 5%;
}
.login-form input[type='submit'] {
  width: 10%;
}
.create-form {
  text-align: center;
  margin: 2%;
}
.create-form input[type='submit'] {
  margin-top: 2%;
}
textarea {
  padding: 1%;
  font-size: 1rem;
}
.signup-form input {
  padding: 1%;
  width: 30%;
  margin-bottom: 1%;
  font-size: .9rem;
}
.signup-form form {
  margin: 2% 5%;
}
.signup-form input[type='submit'] {
  width: 20%;
  margin: 0% 1%;
}
